
<label for="userInput">Search text: </label>
<input type="text" class="form-control" id="userInput" name="userInput" required [(ngModel)]="userInput">
<button (click)="search()"> Search </button>

<style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  th, td {
      padding: 5px;
      text-align: left;    
  }
</style>

<h1>Wiki Results: </h1>

<table style="width:100%">
  <tr *ngFor="let wikiResult of wikiResults">
    <td>{{wikiResult.title}}</td>
  </tr>
</table>

<h1>Giphy Results: </h1>

<table style="width:100%">
  <tr *ngFor="let giphyResult of giphyResults">
    <td><img src={{giphyResult.images.original.url}}></td>
  </tr>
</table>


